{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
{% if product %}
You are viewing the detail for product: {{ product }}!

<p><a href="{% url 'product_edit' product.id %}">Edit this product</a></p>

<div class="product_detail">
<span class="prop_label">Name:</span> <span class="prop_value">{{ product.product_name}}</span>
<span class="prop_label">Description:</span> <span class="prop_value">{{ product.description}}</span>
<span class="prop_label">Style:</span> <span class="prop_value">{{ product.style}}</span>
<span class="prop_label">Brand:</span> <span class="prop_value">{{ product.brand}}</span>
<span class="prop_label">Shipping Price:</span> <span class="prop_value">{{ product.shipping_price}}</span>
<span class="prop_label">Note:</span> <span class="prop_value">{{ product.note}}</span>
</div>
{% else %}
No product selected!
{% endif %}
<p><a href="{% url 'products_list' %}">Return to Products</a></p>
{% endblock %}